/* Imports */
@import "modules/base";
@import "modules/tipography";

@import "elements/cards";
@import "elements/heading";
@import "elements/modals";
@import "elements/outline";
@import "elements/section";
@import "elements/navbar";

@import "partials/contact";
@import "partials/footer";
@import "partials/index";
@import "partials/tools";

/* General CSS */
body {
  position: relative;
  color: $font-primary-color;
  font-family: $font-secondary;
  font-size: 15px;
  font-weight: ligth;
  letter-spacing: .1px;
  line-height: 1.846;
}

dt {
  margin: 0px 0px 0px 2.14285714em;
  font-family: $font-primary;
}

dd {
  margin: 0px 0px 15px 4.3em;
}

h2, h3, h4, h5 {
  font-family: $font-primary;
  font-weight: bold;
}

.slick-slide img {
  width: 100%;
}

.hidden {
  opacity: 0;
}

.icon-tools {
  display:inline-block;
}

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box
}

.swal2-popup .swal2-title {
  font-size: 30px;
  line-height: 40px;
}

.swal2-popup .swal2-content {
  color: #797979;
  font-size: 16px;
  line-height: 24px;
}

.swal2-popup .swal2-styled.swal2-confirm button {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 32px;
  margin: 26px 5px 0;
  cursor: pointer
}