.navbar {
  padding: 8px;
  width: 100%;
  position: fixed;
  z-index: 600;
}

.activeNavbar {
  background-color: var(--section-bg-filled-color);
  box-shadow: var(--box-shadow);
}

.navbarContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbarBrand {
  color: transparent;
  background: url("/images/joseglego.svg") no-repeat
              center 70%;
  background-size: cover;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}

.darkMode {
  background: url("/images/joseglego-alt.svg") no-repeat
    center 70%;
  background-size: cover;
}

.navbarList {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: .9em;
}

.navbarList li {
  display: inline-block;
}

.navbarList li a {
  display: inline-block;
  padding: 0 4px;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .navbar {
    padding: 16px 0;
  }

  .navbarBrand {
    margin: 0;
  }

  .navbarList {
    display: block;
    line-height: 40px;
    margin: 0;
  }

  .navbarList li {
    display: inline-block;
    font-weight: bold;
  }

  .navbarList li a {
    padding: 0 16px;
  }

  .navbarList li:last-child a {
    padding-right: 0;
  }
}

.navbarList li a:hover {
  color: var(--primary-color);
}
