.navbar {
  padding: 8px;
  width: 100%;
  position: fixed;
  z-index: 600;
}

.activeNavbar {
  background-color: var(--section-bg-filled-color);
  box-shadow: var(--box-shadow);
}

.navbarContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbarBrand {
  color: transparent;
  background: url("/images/joseglego.svg") no-repeat
    center 70%;
  background-size: cover;
  width: 150px;
  height: 40px;
}

.darkMode {
  background: url("/images/joseglego-alt.svg") no-repeat
    center 70%;
  background-size: cover;
}

.navbarList {
  display: none;
}

.activeSection,
.navbarList li a.activeSection:hover {
  color: var(--primary-color)
}

.modeButton {
  border: 0;
  background: transparent;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  width: 42px;
}

.hamburgerButton {
  background: transparent;
  border: 0;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
}

.navbarMenu {
  inset: 0;
  width: 80%;
  left: 20%;
  background: url('/images/bg/color_mini_0.svg') var(--section-bg-filled-color);
  padding: 0;
}

.menuContainer {
  background: var(--section-bg-color);
}

.closeMenuButton {
  background: transparent;
  border: 0;
  font-size: 16px;
  width: 42px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobileNavbarList {
  list-style: none;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%
}

.mobileNavbarList li {
  margin: 8px 0;
  width: 100%;
  text-align: center;
}

.mobileNavbarList li {
  display: inline-block;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar {
    padding: 16px 0;
  }

  .navbarBrand {
    margin: 0;
  }

  .navbarActions {
    display: flex;
  }

  .navbarList {
    display: block;
    line-height: 40px;
    margin: 0;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    font-size: .9em;
  }

  .navbarList li {
    display: inline-block;
    font-weight: bold;
  }

  .navbarList li a {
  display: inline-block;
  width: 100%;
  height: 100%;
    padding: 0 16px;
  }

  .navbarList li:last-child a {
    padding-right: 0;
  }

  .navbarList li a:hover {
    color: var(--light-primary-color);
  }

  .modeButton:hover svg {
    fill: var(--light-primary-color);
  }

  .modeButton {
    font-size: 24px;
    margin-left: 8px;
  }

  .hamburgerButton {
    display: none;
  }
}
