/* Imports */
@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/*  Variables */
h3 {
  font-family: "Montserrat", sans-serif; }

.text-font-primary {
  font-family: "Montserrat", sans-serif; }

.text-font-secondary {
  font-family: "Oxygen", sans-serif; }

.text-color-primary {
  color: #e21900; }

.text-lego-primary {
  font: bold 1.1em "Montserrat", sans-serif;
  color: #e21900; }

.text-lego-secondary-default {
  font: 300 1em "Oxygen" "Oxygen", sans-serif;
  color: #fff; }

.text-lego-secondary-inverse {
  font: 300 1em "Oxygen" "Oxygen", sans-serif;
  color: #111; }

.text-muted {
  font-family: 'Oxygen', sans-serif;
  color: #696969;
  font-weight: 300;
  font-size: 0.9em; }

a {
  cursor: pointer; }

.card {
  margin-bottom: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
  #ido .card, #contact .card {
    padding: 2em 1em;
    background: white; }
  .card .card-body {
    padding: 5px 5px 10px;
    background: white;
    text-align: right; }
    .card .card-body h3 {
      margin: 0px;
      padding: 0px;
      text-align: left; }
    .card .card-body .heading-divider {
      margin: 5px 0px; }
  .card:hover .card-img {
    opacity: 0.8; }
  .card:hover .card-links {
    opacity: 1; }
  .card img {
    height: 150px; }
  .card .card-img {
    position: relative;
    padding: 5px;
    background: white;
    text-align: center; }
  .card .card-links-1 span, .card .card-links-1 a {
    width: 100%; }
  .card .card-links-2 span, .card .card-links-2 a {
    width: 50%; }
  .card .card-links {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 4;
    overflow: hidden;
    opacity: 0; }
    .card .card-links span, .card .card-links a {
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      float: left;
      background: #e21900;
      color: white;
      text-decoration: none;
      border-right: 1px solid white; }
      .card .card-links span:hover, .card .card-links a:hover {
        text-decoration: none;
        cursor: pointer;
        color: #e21900;
        background: white; }

.divider {
  margin: 20px 0px 10px;
  border-top: 2px solid #e21900;
  line-height: 15px; }
  .divider .fa {
    width: 50px;
    position: relative;
    top: -10px; }

.heading-divider {
  width: 60px;
  height: 2px;
  display: block;
  background-color: #e21900;
  padding: 0 !important;
  margin: 10px auto 20px; }

.heading-left {
  margin-left: 0px; }

@media screen and (min-width: 768px) {
  .divider {
    margin: 20px 30% 20px; } }

.modal-content {
  border-radius: 0; }

.modal-body h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 5px; }

.modal-body .heading-left {
  margin: 0px 0px 5px 0px; }

.modal-body img {
  width: 100%; }

.modal-body a.left.carousel-control, .modal-body a.right.carousel-control {
  background: transparent; }

.modal-body .project h4 {
  text-align: center; }

@media (min-width: 992px) {
  .modal-lg {
    width: 90%; } }

.outline {
  height: 100px;
  width: 100px;
  margin: 0 auto 10px;
  border: 4px solid rgba(192, 57, 43, 0.4);
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }
  .outline .fa {
    line-height: 100px;
    font-size: 50px;
    color: #C0392B; }

.section {
  border-top: #d1d1d1 1px solid;
  background: white;
  padding: 60px 0px 100px; }
  .section .divider .fa {
    background: white; }

.section-sec {
  background: #f1f1f1; }
  .section-sec .divider .fa {
    background: #f1f1f1; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-lego {
    font-size: 12px; }
  .new-card h3 {
    font-size: 20px; }
  a.navbar-brand {
    font-size: 22px; }
  .new-card .card-links {
    position: static;
    opacity: 1; } }

.navbar-lego {
  background: #212121;
  border-radius: 0px;
  margin-bottom: 0px; }
  .navbar-lego .navbar-toggle {
    border: 2px solid #e21900;
    color: white; }
  .navbar-lego a {
    color: white;
    border-bottom: 3px solid #212121; }
  .navbar-lego li > a:focus {
    background: #212121; }
  .navbar-lego li > a:hover {
    background-color: #e21900; }
  .navbar-lego li.active > a {
    border-bottom: 3px solid #e21900; }

#contact .container .col-sm-6 {
  margin-bottom: 30px; }

#footer {
  padding: 30px 5px;
  background: #212121;
  color: #c0c0c0; }
  #footer a {
    color: white; }

#index {
  border: 0px;
  padding: 0px;
  background: rgba(44, 62, 80, 0.3) 50% 0px/cover; }
  #index div {
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); }

#scroll-down {
  padding: 20px;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: transparent; }
  #scroll-down .text-font-secondary {
    font-size: 12px; }
  #scroll-down:hover {
    text-decoration: none; }

#tools h3 {
  margin-top: 30px; }

.tools .row > a, .tools .row > div {
  padding: 10px;
  border-right: 2px solid #f1f1f1;
  text-align: center; }

@media screen and (min-width: 768px) {
  .tools .row.border-bottom {
    border-bottom: 2px solid #f1f1f1; } }

.tools .row > a:last-child {
  border-right: none; }

.tools img {
  width: 100%;
  max-width: 160px;
  opacity: 0.8; }
  .tools img:hover {
    opacity: 1; }

.modal .tools img {
  max-width: 130px; }

@media screen and (min-width: 768px) {
  .border-right {
    border-right: 2px solid #e21900; } }

/* General CSS */
body {
  position: relative;
  color: #333333;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: .1px;
  line-height: 1.846; }

dt {
  margin: 0px 0px 0px 2.14285714em;
  font-family: "Montserrat", sans-serif; }

dd {
  margin: 0px 0px 15px 4.3em; }

.slick-slide img {
  width: 100%; }
