#index {
  border: 0px;
  padding: 0px;
  background: rgba(44, 62, 80, 0.3)  50% 0px / cover;

  div {
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.7);
  }
}

#scroll-down {
  padding: 20px;
  color:white;
  font-size:20px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: transparent;

  .text-font-secondary {
    font-size: 12px;
  }
  
  &:hover {
    text-decoration: none;
  }

}