#scroll-down {
  padding: 10px 20px;
  color:white;
  font-size:20px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background: transparent;

  span {display: block;}

  .text-font-secondary {
    font-size: 12px;
  }
  
  &:hover {
    text-decoration: none;
  }

}
