#tools {
  h3 {
    margin-top: 30px;
  }
}

.tools {
  .row > a, .row > div {
    padding: 10px;
    border-right: 2px solid $border-primary-color;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .row.border-bottom {
      border-bottom: 2px solid $border-primary-color;
    }
  }
  .row > a:last-child {
    border-right: none;
  }

  img, .icon-tools {
    width: 100%;
    max-width: 150px;
    opacity: 0.8;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      opacity:1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }

  .modal & img {
    max-width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .border-right {
    border-right: 2px solid $lego-primary-color;
  }
}
