.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 24px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin: 16px 8px;
  border-radius: 8px;
}

@media (min-width: 769px) {
  .card {
    margin: 16px;
  }
}
