$uppertitle-color: #dcdcdc;
$title-color: #111;
$secondary-bg: #f9f9f9;

.text-center {
  text-align: center;
}

.section {
  padding: 24px;
  min-height: 50vh;

  &--sec {
    background: $secondary-bg;
  }
}

.section-uppertitle {
  color: $uppertitle-color;
  font-size: 3em;
  font-weight: bold;
  margin: 8px 0;

}

.section-title {
  color: #111;
  font-size: 2em;
  margin: 8px 0 16px 0;
}

.card {
  padding: 32px 16px 16px;
  box-shadow: 0 3px 2px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 2px 6px 0 rgba(0,0,0,.12);
  margin: 16px 8px;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .section {
    padding: 40px;
  }

  .section-uppertitle {
    font-size: 6em;
  }

  .section-title {
    font-size: 3em;
  }

  .card {
    margin: 16px;
  }
}
