.experiences {
  ul {
    list-style: none;
    padding: 15px 0;
  }

  &__experience {
    text-align: center;

    &:last_child {
      padding-bottom: 0;
    }

    a {
      color: #b3b4b6;
      font-weight: bold;
      font-size: 1.1em;
    }

    a, span {
      display: block;
    }

    .experience__logo {
      width: 56px;
      margin-bottom: 16px;
    }

    a:hover .experience__logo {
      filter: none;
    }

    .experience__period {
      font-size: 0.9em;
    }

    .experience__position {
      font-size: 1.2em;
      font-weight: bold;
    }

    .experience__description {
      padding-top: 24px;
      text-align: justify;
    }

    .experience__previous-position {
      font-size: 0.9em;
      font-weight: bold;
    }

  }
}

@media (min-width: 769px) {
  .experiences {
    width: 80%;
    margin: 0 auto;
    min-width: 768px;

    ul { display: flex; flex-wrap: wrap; }

    &__experience {
      flex: 0 0 40%;
    }
  }
}

@media (min-width: 1025px) {
  .experiences__experience {
    flex: 1 1;
  }
}
