.landing {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 25px;

  &__title {
    color: transparent;
    background: url('http://joseglego.io/assets/images/joseglego.png') no-repeat center 70%;
    background-size: cover;
    width: 150px;
    height: 40px;
    margin-bottom: 8px;
  }

  &__name {
    font-weight: 300;
    margin: 8px 0;
  }

  &-name__primary {
    font-weight: 700;
    white-space: nowrap;
    color: #111;
  }

  &__position {
    margin: 8px 0;
    font-size: 3em;
    display: inline-block;
    text-transform: capitalize;
  }

  &-position__primary {
    color: red;

  }

  &-position__secondary {
    color: #111;
  }

  &__description {
    font-weight: 400;
    color: #111;
    display: block;
  }
}

@media (min-width: 768px) {
  .landing {
    padding: 0 10%;

    &__title {
      width: 240px;
      height: 60px;
    }

    &__name {
      font-size: 2em;
    }

    &__position {
      font-size: 4em;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    &__descriptions {
      font-size: 1.2em;
    }
    &__description {
      display: inline;
    }
  }
}

@media (min-width: 1025px) {
  .landing {
    padding: 0 10%;

    &__title {
      width: 240px;
      height: 60px;
    }

    &__name {
      font-size: 3em;
    }

    &__position {
      font-size: 5em;
    }

    &__descriptions {
      font-size: 1.5em;
    }
    &__description {
      display: inline;
    }
  }
}
