$general-text: #444;
$general-bg: #fff;
$primary-text: #111;
$primary-color: #e21900;
$bg-primary: lighten($primary-color, 50%);

.landing {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 25px;

  &__title {
    color: transparent;
    background: url('http://joseglego.io/assets/images/joseglego.png') no-repeat center 70%;
    background-size: cover;
    width: 150px;
    height: 40px;
    margin-bottom: 8px;
  }

  &__name {
    font-weight: 300;
    margin: 8px 0;
  }

  &__position {
    margin: 0;
    font-size: 3em;
    display: inline-block;
    text-transform: capitalize;
  }

  &-position__primary {
    color: $primary-color;
  }

  &__descriptions {
    margin: 8px 0;
  }

  &__description {
    font-weight: 400;
    color: $primary-text;
    display: block;
  }
}

@media (min-width: 768px) {
  .landing {
    padding: 0 10%;

    &__title {
      width: 240px;
      height: 60px;
    }

    &__name {
      font-size: 2em;
    }

    &__position {
      font-size: 4em;
      letter-spacing: 8px;
      text-transform: uppercase;
    }

    &__descriptions {
      font-size: 1.2em;
    }
    &__description {
      display: inline;
    }
  }
}

@media (min-width: 1025px) {
  .landing {
    padding: 0 10%;

    &__title {
      width: 240px;
      height: 60px;
    }

    &__name {
      font-size: 3em;
    }

    &__position {
      font-size: 5em;
    }

    &__descriptions {
      font-size: 1.5em;
    }
    &__description {
      display: inline;
    }
  }
}

.btns {
  padding: 32px 0 0 0;
}

.btn {
  display: inline-block;
  margin-top: 8px;
  margin-right: 16px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

}

.btn-secondary {
  color: $primary-color;
  background: $bg-primary;
  border: 1px solid $bg-primary;
}

.btn-primary {
  color: $general-bg;
  background-color: $primary-color;
  border: 1px solid $primary-color;
}
