.projects {
  .project__title {
    margin: 0;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
    width: 64%;
    margin-bottom: 16px;
  }

  .project__description {
    margin: 8px 0 0 0;
  }
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;

    &__project {
      flex: 1 1 28%;
    }
  }
}
