.projects {
  .project__title {
    margin: 0;
  }

  .project__description {
    margin: 8px 0 0 0;
  }
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;

    &__project {
      flex: 1 1 28%;
    }
  }
}
