.section {
  background: url("/images/bg/bg_0.svg");
}

.secondary {
  background: url("/images/bg/bg_1.svg");
}

.info {
  padding: 24px;
  padding-top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--section-bg-color);
}

.secondary .info {
  background: var(--section-bg-alt-color);
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.uppertitle {
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 3em;
  font-weight: bold;
  margin: 8px 0;
  padding-top: 74px;
}

.title {
  text-align: center;
  color: var(--primary-font-color);
  font-size: 2em;
  margin: 8px 0 24px 0;
}

.title:after {
  content: '';
  display: block;
  width: 70%;
  height: 6px;
  background: url('/images/bg/bricks.svg');
  background-size: cover;
  margin: 8px auto 0;
}

.secondary .uppertitle,
.secondary .title {
  text-align: left;
}

.secondary .title:after {
  width: 60%;
  margin: 8px 0 0 0;
}

@media (min-width: 768px) {
  .title:after {
    width: 35%;
  }

  .secondary .title:after {
    width: 35%;
  }

  .info {
    padding: 40px;
  }

  .uppertitle {
    font-size: 6em;
  }

  .title {
    font-size: 3em;
  }
}
