.outline {
  height: 100px;
  width: 100px;
  margin: 0 auto 10px;
  border: 4px solid rgba(192,57,43,0.4);
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  .fa {
    line-height: 100px;
    font-size: 50px;
    color:#C0392B;
  }
}