.section {
  background: $bg-primary-color;
  padding: 60px 0px 100px;
  
  .divider .fa {
    background: $bg-primary-color;
  }
}

.section-sec {
  background: $bg-secondary-color;

  .divider .fa {
    background: $bg-secondary-color;
  }
}
