/*  Variables */
$font-primary-color: #333333;
$font-secondary-color: #c0c0c0;;
$font-third-color: #696969;

$lego-primary-color: #e21900;
$lego-secondary-color: #111;
$lego-third-color: #fff;

$bg-primary-color: white; 
$bg-secondary-color: #f1f1f1;
$bg-third-color: #212121;

$border-primary-color: #f1f1f1;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Oxygen', sans-serif;