<!-- BeginSection: Activities -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div id="activities" class="section">
  <div class="container">
    <h2 class="text-center"><span class="text-lego-primary">Courses & Activities</span></h2>
    <div class="divider text-center">
      <span class="fa fa-history fa-lg"></span>
    </div>
    <div class="row">
      <h3>Additional Courses</h3>
      <div class="heading-divider heading-left"></div>
      <div class="row">
        <div class="col-sm-6 border-right">
          <dl>
            <dt><span class="fa fa-caret-right"></span> English Course <span class="text-muted">| Sep 2014 - Feb 2015</span></dt>
            <dd>
              Daily course, with 2 hours English lessons
            </dd>
            <dt><span class="fa fa-caret-right"></span> Web Master <span class="text-muted">| Feb 2012 - May 2012</span></dt>
            <dd>
              Course about basic web programming and tools: HTML & CSS, Adobe Dreamweaver & Adobe Flash 
            </dd>
            <dt><span class="fa fa-caret-right"></span> Photoshop CS 4, Adobe Certified <span class="text-muted">| Jan 2011</span></dt>
            <dd>
              Basic use of Photoshop
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl>
            <dt><span class="fa fa-caret-right"></span> Illustrator CS 4, Adobe Certified <span class="text-muted">| Dec 2010</span></dt>
            <dd>
              Basic use of Illustator
            </dd>
            <dt><span class="fa fa-caret-right"></span> 3Ds Max 2009, Autodesk Certified <span class="text-muted">| Dec 2009</span></dt>
            <dd>
              Basic use of 3Ds Max
            </dd>
            <dt><span class="fa fa-caret-right"></span> English Course <span class="text-muted">| Jul 2008 - Aug 2008 | Florida, US</span></dt>
            <dd>
              International course for 2 months, with 4 hours English lessons and living with Japanese & Italian partners
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <h3>Activities</h3>
      <div class="heading-divider heading-left"></div>
      <div class="col-sm-6 border-right">
        <dl>
          <dt><span class="fa fa-caret-right"></span> Urban Data Fest (<a target="_blank" href="http://www.global.datafest.net/cities/caracas"> Venezuela</a> ) <span class="text-muted">| March 2015</span></dt>
          <dd>3rd Place, <a target="_blank" href="http://datawarriors.byethost31.com/">Monitorea.la</a>: front-end Developer (Angular)</dd>
          
          <dt><span class="fa fa-caret-right"></span> Professional Volunteer Firefighter <span class="text-muted">| May 2014 - Mar 2016</span></dt>
          <dd>
            Prehospital Care & Fire Science on Sim&oacute;n Bol&iacute;var University Volunteer Fire Dept. Now I'm not active because I can't do physical Activities because of an injury.<br/>
            <strong class="text-lego-primary">Degree Project:</strong> Selective Random, Level Test System Web & Military permissions (Django & JS), <a id="sec" class="open-modal">check details</a>.
          </dd>
          
          <dt><span class="fa fa-caret-right"></span> Latinux Member <span class="text-muted">| Jul 2014 - Aug 2014</span></dt>
          <dd>Member of  Latinux at Sim&oacute;n Bol&iacute;var University working specially in Web Systems and in Augmented Reality on Web</dd>

          <dt><span class="fa fa-caret-right"></span> GIA Member <span class="text-muted">| May 2012 - Jun 2014</span></dt>
          <dd>Member of  Sim&oacute;n Bol&iacute;var University's Artificial Intelligence Group (GIA).
          </dd>
          
        </dl>
      </div>
      <div class="col-sm-6">
        <dl>
          <dt><span class="fa fa-caret-right"></span> CaracasBots2013 <span class="text-muted">| Mar 2013 - Oct 2013</span></dt>
          <dd>Development of the web system, <a id="caracasbot" class="open-modal">check details</a>.
          </dd>
          <dt><span class="fa fa-caret-right"></span> LDAC Member <span class="text-muted">| Jan 2008 - May 2012</span></dt>
          <dd>Member of  Sim&oacute;n Bol&iacute;var University Teacher Assitant Computer Laboratory (LDAC). </dd>

          <dt><span class="fa fa-caret-right"></span> IEEE Latin American Robotics Competition <span class="text-muted">| Oct 2013 | Arequipa, PE</span> </dt>
          <dd>Open Category with GIATRONICA</dd>

          <dt><span class="fa fa-caret-right"></span> IEEE Latin American Robotics Competition <span class="text-muted">| Oct 2012 | Fortaleza, BR</span> </dt>
          <dd>SEK Category with GIA</dd>
          
          <dt><span class="fa fa-caret-right"></span> Free Software International Conference <span class="text-muted">| Oct 2008 | Malaga, ES</span> </dt>
          <dd>Volunteer</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<!-- EndSection: Activities -->
