.paragraph {
  line-height: 150%;
}

.title {
  margin: 0;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.description {
  margin: 8px 0 0 0;
}

.project {
  margin-bottom: 24px;
  line-height: 175%;
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .project {
    flex: 0 1 calc(33% - 32px);
  }
}
