.title {
  margin: 0;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.description {
  margin: 8px 0 0 0;
}

.project {
  margin-bottom: 24px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 32px;
  }

  .project {
    margin: 16px 16px 24px 16px;
    flex: 1 1 27%;
  }
}
