@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");

:root {
  --main-font-color: #444;
  --primary-font-color: #111;
  --secondary-font-color: #dcdcdc;
  --secondary-btn--color: #4f4f4f;
  --main-bg-color: #fff;
  --alt-bg-color: #f1f1f1;
  --blue-color: #4285f4;
  --green-color: #34a853;
  --red-color: #ea4335;
  --yellow-color: #f9ab00;
  --primary-color: var(--blue-color);
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--main-font-color);
}

body {
  margin: 0;
  padding: 0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}
