@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");

body {
  --main-font-color: #444;
  --primary-font-color: #111;
  --secondary-font-color: #444;
  --third-font-color: #999;
  --secondary-btn--color: #4f4f4f;
  --blue-color: #4285f4;
  --light-blue-color: #a0c2f9;
  --green-color: #34a853;
  --red-color: #ea4335;
  --yellow-color: #f9ab00;
  --primary-color: var(--blue-color);
  --light-primary-color: var(--light-blue-color);
  --primary-btn-bg-color: #004ECC;
  --primary-btn-color: #fff;
  --section-bg-color: rgba(255, 255, 255, .9);
  --section-bg-alt-color: rgba(241,241,241, .85);
  --disabled-btn-bg-color: #555;
  --disabled-btn-color: #fff;
  --section-bg-filled-color: rgba(255, 255, 255, 1);
  --section-bg-footer: #333;
  --box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

body.dark-theme {
  --main-font-color: #ddd;
  --primary-font-color: #fff;
  --secondary-font-color: #eee;
  --third-font-color: #ccc;
  --secondary-btn--color: #ccc;
  --primary-color: var(--blue-color);
  --primary-btn-bg-color: #004ECC;
  --primary-btn-color: #fff;
  --section-bg-color: rgba(51, 51, 51, 0.9);
  --section-bg-alt-color: rgba(102, 102, 102, 0.9);
  --disabled-btn-bg-color: #2c384a;;
  --disabled-btn-color: #fff;
  --section-bg-filled-color: rgba(51, 51, 51, 1);
  --section-bg-footer: #333;
  --box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --main-font-color: #ddd;
    --primary-font-color: #fff;
    --secondary-font-color: #eee;
    --third-font-color: #ccc;
    --secondary-btn--color: #ccc;
    --primary-color: var(--blue-color);
    --primary-btn-bg-color: #004ECC;
    --primary-btn-color: #fff;
    --section-bg-color: rgba(51, 51, 51, 0.9);
    --section-bg-alt-color: rgba(102, 102, 102, 0.9);
    --disabled-btn-bg-color: #2c384a;;
    --disabled-btn-color: #fff;
    --section-bg-filled-color: rgba(51, 51, 51, 1);
    --section-bg-footer: #333;
    --box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --main-font-color: #444;
    --primary-font-color: #111;
    --secondary-font-color: #444;
    --third-font-color: #999;
    --secondary-btn--color: #4f4f4f;
    --primary-color: var(--blue-color);
    --primary-btn-bg-color: #004ECC;
    --primary-btn-color: #fff;
    --section-bg-color: rgba(255, 255, 255, .9);
    --section-bg-alt-color: rgba(241,241,241, .85);
    --disabled-btn-bg-color: #555;
    --disabled-btn-color: #fff;
    --section-bg-filled-color: rgba(255, 255, 255, 1);
    --section-bg-footer: #333;
    --box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
* {
  font-family: "Montserrat", sans-serif;
  color: var(--main-font-color);
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Content {
  position: absolute;
  inset: 16px;
  box-shadow: var(--box-shadow);
  background: var(--section-bg-filled-color);
  color: var(--primary-font-color);
  overflow: auto;
  outline: none;
  padding: 20px;
}

.ReactModal__Overlay {
  position: fixed;
  inset: 0px;
  background-color: var(--section-bg-color);
  z-index: 601;
}

.ReactModal__Container {
  height: 100%;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(+300px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(+300px);
}

@media (min-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
}
